<!DOCTYPE html>
{% load static from staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <title>{% block title %}Bolu Ola {% endblock title %}</title>
  </head>

  <body>
    <div id="fb-root"></div>
       <script>(function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));</script>
  <!-- Fixed navigation bar -->

    <nav class="navbar navbar-default custom-navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brand" id="corner-name" href="/">Bolu Ola.</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% include "search_form.html" %}
          <ul class="nav navbar-nav navbar-right ">
            <li><a class="nav-links" href="/">Home</a></li>
            <li><a class="nav-links" href="{% url 'post:list' %}">All Articles</a></li>
            {% if user.is_authenticated %}
            <li><a class="nav-links" href="{% url 'post:create' %}">Create Post</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!--/.end of navigation bar -->


    <!-- main section -->

   {% include "message_display.html" %}

      {% block content %}
      {% endblock content %}



  <footer class="footer">
    <p class="text-muted"><small id="copyright">
      © copyright Bolu Ola {% now "Y" %}.
    </small></p>
  </footer>


     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="{% static 'js/jquery11.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/collapse.js' %}"></script>
     <script src="{% static 'js/blog.js' %}"></script>
    </body>
  </html>
